#table-div{:class=>"align-center"}
  %table
    %tbody
      %tr
        %th Area
        %th Disability
        %th Year
        %th Total population with disability
        %th Percentage of population with disability
        %th Total population size for area
      %tr
        %td=area
        %td=disability
        %td=year
        %td=disab_total
        %td=percentage
        %td=pop_total
