For REST service send a GET request to #{request.url}{area}/{disability}{year}.
%form{:action => "run", :method => "post"}
  %select{:name=>"zone"}
    - zones.each do |i|
      %option{:value => i}= i
  %select{:name=>"year"}
    - years.each do |i|
      %option{:value => i}= i
  %select{:name=>"disability"}
    - disabilities.each do |i|
      %option{:value => i}= i
  %input{:type => "submit", :value => "Run"}
