%center
  Select a zone, year and disability and click 'Run'
  %form{:action => "run", :method => "post"}
    %select{:name=>"zone"}
      - zones.each do |i|
        %option{:value => i}= i
    %select{:name=>"year"}
      - years.each do |i|
        %option{:value => i}= i
    %select{:name=>"disability"}
      - disabilities.each do |i|
        %option{:value => i}= i
    %input{:type => "submit", :value => "Run"}
  %BR
  For REST service send a GET request to #{request.url}{area}/{disability}{year}.
  %BR
  Or
  %a(href="https://www.methodbox.org/Data_File/458-2021-uk-disability-estimates/download") download
  the data for 2021 from MethodBox
  %BR
  For more information on the statistical methods and data used refer to the
  %a(href="https://www.methodbox.org/scripts/69-preparing-hse-2000-data-for-disability-prevalence-statistics") scripts
  on
  %a(href="https://www.methodbox.org/scripts/69-preparing-hse-2000-data-for-disability-prevalence-statistics") MethodBox
