%iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :src => "http://www.maptube.org/map.aspx?s=DHxUpQJFTLGlF3HBF2wKXBwKg4wKCS", :title => "UK disability 2021", :class=>"maptube"}

